<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label>
      Email:
      <input type="email" formControlName="email">
      <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors" class="text-danger">Email es requerido</div>
      <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors" class="text-danger">Email inválido</div>
    </label>
    <br><br>
    <label>
      Password:
      <input type="password" formControlName="password">
      <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors" class="text-danger">Contraseña es requerida</div>
    </label>
    <br><br>
    <button type="submit" [disabled]="!loginForm.valid">Submit</button>
  </form>